@model INTEX.Models.Tests

@{
    ViewBag.Title = "Data Report";
    Layout = "~/Views/Shared/Employee_Layout.cshtml";
}

<h2>Data Report</h2>

<a href="/images/myw3schoolsimage.jpg" download>
    <img src="/images/myw3schoolsimage.jpg" alt="Numerical Data Report">
</a>