@model INTEX.Models.Employees

@{
    ViewBag.Title = "Performance Report";
    Layout = "~/Views/Shared/Employee_Layout.cshtml";
}

<h2 style="text-align: center;">Performance Report</h2>


<div>
    <h2 class="btnTitle" style="text-align: center"></h2>
    <a href="~/Content/Images/Performance Report.png" download>
        <button class="homeBtn" >Download Report</button>
    </a>
</div>
<br />


<a href="~/Content/Images/Performance Report.png" download>
    <img src="~/Content/Images/Performance Report.png" alt="Performance Report" style="width:900px;   display: block; margin-left: auto; margin-right: auto; width: 50%;">
</a>

