@model INTEX.Models.Employees

@{
    ViewBag.Title = "Performance Report";
    Layout = "~/Views/Shared/Employee_Layout.cshtml";
}

<h2>Performance Report</h2>

<a href="/images/myw3schoolsimage.jpg" download>
    <img src="/images/myw3schoolsimage.jpg" alt="Performance Report">
</a>