@model INTEX.Models.Payments

@{
    ViewBag.Title = "Profitability Report";
}

<h2>Profitability Report</h2>

<a href="/images/myw3schoolsimage.jpg" download>
    <img src="/images/myw3schoolsimage.jpg" alt="Profitability Report">
</a>

