

<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css">

<body>
  

    <div style="text-align: center; padding: 100px">
        <div>
            <a href="@Url.Action("Quote", "Customers")"><button class="homeBtn">Get a New Quote</button></a>
        </div>
        <br />
        <div>
            <a href="@Url.Action("Index", "Work_Orders")"><button class="homeBtn">Order Status</button></a>
        </div>
        <br />
        <div>
            <a href="@Url.Action("Reports", "Customers")"><button class="homeBtn">Completed Reports</button></a>
        </div>
        <br />
        <div>
            <a href="@Url.Action("Create", "Customers")"><button class="homeBtn">Pay for your Orders</button></a>
        </div>
    </div>


</body>
