@{
    ViewBag.Title = "Home";

}

<body>


    <div style="text-align: center; padding: 100px">
        <div>
            <a href="@Url.Action("Quote", "Customers")"><button class="homeBtn">Get a New Quote</button></a>
        </div>
        <br />
        <div>
            <a href="@Url.Action("WorkOrders", "Customers")"><button class="homeBtn">Order Status</button></a>
        </div>
        <br />
        <div>
            <a href="@Url.Action("CompletedOrders", "Customers")"><button class="homeBtn">Completed Orders</button></a>
        </div>
        <br />
        <div>
            <a href="@Url.Action("Invoice", "Customers")"><button class="homeBtn">Pay for your Orders</button></a>
        </div>
    </div>

    

</body>
