
@{
    ViewBag.Title = "Report";
}

<h2>Order #@ViewBag.OrderID</h2>

<a href="@Url.Action("Index", "Customers")"><button class="fileBtn">Download Report</button></a> <br /> <br />

<img src="~/Content/Images/Screen Shot 2019-12-05 at 11.45.38 AM.png" />