body {
    padding: 0px;
    margin: 0px;
    background-color: #DBDBDB;
}

.homeBtn {
    width: 391px;
    height: 60px;
    border-radius: 12px;
    background-color: #7C87A6;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 30px;
    vertical-align: middle;
}

.homeHead {
    position: absolute;
    width: 1440px;
    height: 360px;
    left: 0px;
    top: 0px;
    background: url("https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"), #7C87A6;
}

.header {
    margin: 0px;
    text-align: center;
    width: auto;
    height: 360px;
    color: white;
    font-size: 30px;
    background: url("https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
}

.btnTitle {
    font-family: Cambria;
}