body {
    padding: 0px;
    margin: 0px;
    background-color: #DBDBDB;
}

.homeBtn {
    box-shadow: 0px 5px 7px -1px #979e95;
    background-color: #7c87a6;
    border-radius: 25px;
    border: 1px solid #7c87a6;
    display: inline-block;
    cursor: pointer;
    color: #DBDBDB;
    font-family: Arial;
    font-size: 24px;
    padding: 12px 76px;
    text-decoration: none;
}

    .homeBtn:hover {
        background-color: #8f99b3;
    }

    .homeBtn:active {
        position: relative;
        top: 1px;
    }

.fileBtn {
    box-shadow: 0px 5px 7px -1px #7c87a6;
    background-color: #7c87a6;
    border-radius: 25px;
    border: 1px solid #7c87a6;
    display: inline-block;
    cursor: pointer;
    color: #f0f0f0;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 42px;
    text-decoration: none;
}

    .fileBtn:hover {
        background-color: #7c87a6;
    }

    .fileBtn:active {
        position: relative;
        top: 1px;
    }

        

        

.homeHead {
    position: absolute;
    width: 1440px;
    height: 360px;
    left: 0px;
    top: 0px;
    background: url("https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"), #7C87A6;
}

.header {
    margin: 0px;
    text-align: center;
    width: auto;
    height: 360px;
    color: white;
    font-size: 30px;
    background: url("https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
}

.btnTitle {
    font-family: Cambria;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7C87A6;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}