@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css">

<body>
    <div class="header">
    </div>

    <div style="text-align: center">
        <div>
            <h2 class="btnTitle" style="text-align: center;">Existing Customers</h2>
            <button class="homeBtn">Login</button>
        </div>
        <br />
        <div>
            <h2 class="btnTitle" style="text-align: center">New Customers</h2>
            <button class="homeBtn">Begin Quote</button>
        </div>
    </div>

</body>


