@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css">

<body>
    <div class="header">
        <h1 style="color: coral"><br /><br />Northwest Labs</h1>
    </div>

    <div style="text-align: center">
        <div>
            <h2 class="btnTitle" style="text-align: center;">Existing User</h2>
            <a href="@Url.Action("Login", "Home")"><button class="homeBtn">Login</button></a>
        </div>
        <br />
        <div>
            <h2 class="btnTitle" style="text-align: center">New Customers</h2>
            <a href="@Url.Action("Create", "Customers")"><button class="homeBtn">Begin Quote</button></a>
        </div>
    </div>
</body>


