
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    <form>
        <p>Select User Type:</p><br />
        <select name="userType" >
            <option value="Customers">Customer</option>
            <option value="Employees">Employee</option>
        </select><br /><br />
        <input type="text" name="userName" placeholder="Enter Username..." /><br /><br />
        <input type="text" name="passWord" placeholder="Enter Password..." /><br /><br />
        <input type="submit" name="submit" />
    </form>
</div>


